
:root{
    --main-color:#6610f2;
    --bg-color : #f6f6f6;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}
.logo{
    background-color: var(--main-color);
    padding: 8px 10px;
    color: #fff;
    border-radius: 5px;
    
}
.fs-sm{
    font-size: 14px;
    font-weight: 600;
}
.horizontal{
    margin-top: 20px;
    width: 90%;
    margin: auto;
    height: 2px;
    background-color: rgba(0, 0, 0,0.1);
}
.ul{
    margin-top: 10px;
display: flex;
justify-content: space-between;
}
.ul li{
    list-style-type: none;
    cursor: pointer;  
}
.foundItem{
    background-color: #fff;
    padding: 10px 25px;
   
}
.btnOne{
    background-color: #6610f2;
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.btnTwo{
    background-color: var(--bg-color);
    padding: 8px 15px;
    font-size: 14px;
    color: var(--main-color);
    border-radius: 5px;
    border: 1px solid var(--main-color);
}
.authorImg{
    width: 80px;
}